<div class="footer-container">
  <footer>
    <div class="funding-signature">
      <div>
        <img src="/assets/imgs/nextgeneu_en.png" alt="Funded by the European Union NextGenerationEU" height="64">
      </div>
      <div class="vl"></div>
      <div>
        <img src="/assets/imgs/miur.png" alt="Ministry of Univeristy and Research" height="58">
      </div>
      <div class="vl"></div>
      <div>
        <img src="/assets/imgs/italia_domani.png" alt="Italy Tomorrow" height="64">
      </div>
    </div>
    <div class="footer-administrative">
      <p>
        <small>
          The content of this website reflects the opinion of its authors and does not in any way represent the opinions of the project's funding organizations.
        </small>
      </p>
      <p>
        
      </p>
      <p>
        <a href="/about.html#contact">Contact</a>
        <span class="separator">—</span>
        IIT-CNR, Pisa, Italy
      </p>
      <p class="project-identifiers">
        PRIN 2022YKTMK3 <span class="separator">|</span> CUP B53D23013290006
      </p>
    </div>
  </footer>
<div>