<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="_z1ogSN8z2_Tx9tj_aLw-_d987qhSBhZR3dircjdI2E" />
    <link rel="icon" href="{{ "/assets/imgs/piano_shield.svg" }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" }}">
    {% seo %}
  </head>
  <body>
    
    {%- include  header.html -%}

    <main>
      {{ content }}
    </main>
  
    {%- include  footer.html -%}

  </body>
</html>
